{% extends 'base.html' %}
{% load static %}
{% block head_title %}Banking System{% endblock %}
{% block body %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2" role="alert">
  <p class="font-bold">Error!</p>
  <p class="block sm:inline">{{ error }}</p>
</div>
{% endfor %}
{% endif %}

{% if form.amount.errors %} {% for error in form.amount.errors %}
<p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
{% endfor %} {% endif %}
<div class="bg-white flex flex-col justify-center items-center mt-10 ">
  <h1 class="font-bold text-3xl text-center pb-5"> Change your password here</h1>
  <form method='POST' class="bg-rose-200 shadow-md rounded px-8 pt-6 pb-8 mb-4 w-1/2 m">
    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field}}
    {% endfor %}
    <div class="w-full w-full px-3 mb-6 md:mb-0">
      <label class="block  tracking-wide text-gray-700 text-xs font-bold mb-2"
        for="{{ form.first_name.id_for_label }}">
        {{ form.old_password.label }}
      </label>
      {{ form.old_password }}
      {% if form.old_password.errors %}
      {% for error in form.old_password.errors %}
      <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
      {% endfor %}
      {% endif %}
    </div>
    <div class="w-full md:w-full px-3 mb-6 md:mb-0">
      <label class="block  tracking-wide text-gray-700 text-xs font-bold mb-2"
        for="{{ form.first_name.id_for_label }}">
        {{ form.new_password1.label }}
      </label>
      {{ form.new_password1 }}
      {% if form.new_password1.errors %}
      {% for error in form.new_password1.errors %}
      <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
      {% endfor %}
      {% endif %}
    </div>
    <div class="w-full md:w-full px-3 mb-6 md:mb-0">
      <label class="block  tracking-wide text-gray-700 text-xs font-bold mb-2"
        for="{{ form.first_name.id_for_label }}">
        {{ form.new_password2.label }}
      </label>
      {{ form.new_password2 }}
      {% if form.new_password1.errors %}
      {% for error in form.new_password2.errors %}
      <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
      {% endfor %}
      {% endif %}
    </div>
    <button type='submit' class='mt-2 bg-blue-500 px-5 py-2 rounded '>submit</button>
</div>
</form>
</div>
{% endblock %}