{% extends "base.html" %}
{% block title %} All Borrow Book | {{car.title}}{% endblock %}


{% block body %}
<section class="py-20">
    <div class="container mx-auto">


        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Book name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Price
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Date
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for borrow in borrow_book %}
                    <tr
                        class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{borrow.book.title}}
                        </th>
                        <td class="px-6 py-4">
                            {{borrow.book.borrowing_price}}$
                        </td>
                        <td class="px-6 py-4">
                            {{borrow.borrowing_date}}
                        </td>
                        <td class="px-6 py-4">
                            {% if borrow.returned %}
                            <span>already return</span>
                            {%else%}
                            <a href="{% url 'return_book' borrow.id %}" class="bg-red-600 text-white px-5 py-2 rounded">return</a>
                            {%endif%}

                        </td>
                    </tr>
                    {%endfor%}


                </tbody>
            </table>
        </div>

    </div>
</section>

{% endblock %}